<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Skylark-visit-app.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
				<key>dateExpires</key>
				<string>2022/05/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AcousticMobilePush.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AcousticMobilePushNotification.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AlamofireNetworkActivityIndicator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ApplicationConfig.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ApplicationLib.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ApplicationModel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Auth0.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CryptoSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Differentiator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseDynamicLinks.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstanceID.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>JWTDecode.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>KeychainAccess.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MDFInternationalization.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MDFTextAccessibility.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MaterialComponents.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MotionAnimator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MotionInterchange.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MotionTransitioning.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ObjcExceptionBridging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ReSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ReSwiftThunk.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxCoreLocation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxDataSources.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxOptional.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxRelay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxWebKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SimpleKeychain.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftDate.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Swinject.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwinjectStoryboard.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>UIComponent.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>XCGLogger.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1705F9168EE07D04547747619D60124F40E4E42</string>
						<key>dateExpires</key>
						<string>2022/05/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>5HFGFEQU5R.jp.co.skylark.app.gusto.staging.NotificationService</string>
						<key>com.apple.developer.team-identifier</key>
						<string>5HFGFEQU5R</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.jp.co.skylark.app.gusto.staging</string>
							<string>group.jp.co.skylark.app.gusto.prev</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>NotificationService.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>9dd90e4d-e6b3-4ac3-82ed-a6ece7ec00e4</string>
						<key>name</key>
						<string>Skylark app Staging RichNotification Ad Hoc</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HFGFEQU5R</string>
						<key>name</key>
						<string>SKYLARK CO.,LTD.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>5HFGFEQU5R.jp.co.skylark.app.gusto.staging</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:www.skylark.co.jp</string>
					<string>applinks:skyapp.page.link</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>5HFGFEQU5R</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.jp.co.skylark.app.gusto.staging</string>
					<string>group.jp.co.skylark.app.gusto.prev</string>
				</array>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>5HFGFEQU5R.jp.co.skylark.app</string>
				</array>
			</dict>
			<key>name</key>
			<string>Skylark-visit-app.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>2b1eb2b2-6d1d-4203-9cab-2bc8d0b4bab7</string>
				<key>name</key>
				<string>Skylark app Staging Ad Hoc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5HFGFEQU5R</string>
				<key>name</key>
				<string>SKYLARK CO.,LTD.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
